:root {
  --branding-color: #a56ba8;
}
h1 {
  font-size: 96px;
}
h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
}

.hero {
  text-align: center;
  background-color: #f9f7fe;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  margin: 0;
}

.hero h1 {
  font-size: 96px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.hero h2 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
  color: white;
  background-color: var(--branding-color);
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
}

.project-description {
  padding: 120 60px;
}

.about-section {
  padding: 160px 20px;
}

.about-section-content {
  margin: 30px;
}
.about-section h1 {
  font-size: 64px;
  line-height: 80px;
}

.about-section h2 {
  font-size: 18px;
}

.about-section p {
  font-size: 18px;
  font-family: Roboto;
}

@media (max-width: 560px) {
  h1 {
    font-size: 60px;
    line-height: 1.5;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }
}
